In [4]:
import pandas as pd
import os
os.getcwd()

'/Users/souchaud/Documents/Travail/Transition_ecologique/LABeCO2/data_masse_eCO2'

In [5]:
tableau = pd.read_hdf('./data_eCO2_masse_consommable.hdf5')
tableau

,Consommable,Référence,Code NACRES,Masse unitaire (g),Matériau,Source/Signature
0,Tube Falcon 15ml,N/A,NB13,6.7,Polypropylène (PP),Alexandre Souchaud
2,Tube Falcon 50ml,10-9502,NB13,14.3,Polypropylène (PP),Souchaud

In [12]:
a_supprimer = "10"
tableau = tableau.drop(tableau[tableau["Référence"] == a_supprimer].index)
tableau

,Consommable,Référence,Code NACRES,Masse unitaire (g),Matériau,Source/Signature
0,Tube Falcon 15ml,N/A,NB13,6.7,Polypropylène (PP),Alexandre Souchaud
2,Tube Falcon 50ml,10-9502,NB13,14.3,Polypropylène (PP),Souchaud

In [6]:
tableau.to_hdf('./data_eCO2_masse_consommable.hdf5', key='data', mode='w')

In [15]:
data_base = pd.read_hdf('./data_base_GES1point5/data_base_GES1point5.hdf5')

In [ ]:
fusion  = data_base[data_base['category'] == 'Achats']['subsubcategory'] + " " + data_base[data_base['category'] == 'Achats']['name']

In [22]:
fusion

158       AA01 Pains, patisseries, viennoiseries congeles
159                         AA02 Produits carnes congeles
160        AA03 Produits de la mer ou deau douce congeles
161                       AA04 Fruits et legumes congeles
162     AA05 Preparations alimentaires et plats cuisin...
                              ...
1619              XF05 Facturation interne - informatique
1620                XF06 Facturation interne - immobilier
1621            XF07 Facturation interne - action sociale
1622               XF08 Facturation interne - subventions
1623                    XF09 Facturation interne - autres
Length: 1466, dtype: object

In [23]:
fusion.to_csv('./data_base_GES1point5/NACRES_list.csv', index=False)