In [2]:
import pandas as pd

# Chemin du fichier Excel
excel_path = "/Users/souchaud/Documents/Travail/Transition_ecologique/LABeCO2/data_masse_eCO2/code_NACRES/nacres-janvier-2022.xls"

# Lecture des colonnes "Codes Nacres" et "Libellé étendu nouvelle nomenclature achat"
df = pd.read_excel(excel_path, usecols=["Codes Nacres", "Libellé étendu nouvelle nomenclature achat"])

# Nettoyage des données : suppression des lignes où une des colonnes serait manquante
df = df.dropna(subset=["Codes Nacres", "Libellé étendu nouvelle nomenclature achat"])

# Chemin de sortie pour le fichier HDF5
hdf5_path = "/Users/souchaud/Documents/Travail/Transition_ecologique/LABeCO2/data_masse_eCO2/nacres_2022.h5"

# Sauvegarde du DataFrame dans le fichier HDF5 sous la clé "nacres_2022"
df.to_hdf(hdf5_path, key="nacres_2022", mode="w")

print("Fichier HDF5 'nacres_2022.h5' créé avec succès.")

Fichier HDF5 'nacres_2022.h5' créé avec succès.

In [3]:
# Lire le DataFrame stocké sous la clé "nacres_2022"
df = pd.read_hdf(hdf5_path, key="nacres_2022")

In [4]:
df

     Codes Nacres         Libellé étendu nouvelle nomenclature achat
0               A                        APPROVISIONNEMENTS GENERAUX
1              AA           ALIMENTATION - RESTAURATION - HOTELLERIE
2            AA.0                    PRODUITS ALIMENTAIRES CONGELES
3           AA.01         PAINS, PATISSERIES, VIENNOISERIES CONGELES
4           AA.02                           PRODUITS CARNES CONGELES
...           ...                                                ...
2000        XE.25                  CONSTRUCTION : OPERATION TERMINEE
2001        XE.27                       COLLECTIONS DE DOCUMENTATION
2002        XE.28  COLLECTIONS LITTERRAIRES, SCIENTIFIQUES ET ART...
2003           XF                                FACTURATION INTERNE
2004         XF.0                                FACTURATION INTERNE

[2004 rows x 2 columns]

In [5]:
# Suppression des points dans la colonne "Codes Nacres"
df["Codes Nacres"] = df["Codes Nacres"].str.replace(".", "", regex=False)

# (Optionnel) Sauvegarde à nouveau dans le même fichier
df.to_hdf(hdf5_path, key="nacres_2022", mode="w")

df

     Codes Nacres         Libellé étendu nouvelle nomenclature achat
0               A                        APPROVISIONNEMENTS GENERAUX
1              AA           ALIMENTATION - RESTAURATION - HOTELLERIE
2             AA0                    PRODUITS ALIMENTAIRES CONGELES
3            AA01         PAINS, PATISSERIES, VIENNOISERIES CONGELES
4            AA02                           PRODUITS CARNES CONGELES
...           ...                                                ...
2000         XE25                  CONSTRUCTION : OPERATION TERMINEE
2001         XE27                       COLLECTIONS DE DOCUMENTATION
2002         XE28  COLLECTIONS LITTERRAIRES, SCIENTIFIQUES ET ART...
2003           XF                                FACTURATION INTERNE
2004          XF0                                FACTURATION INTERNE

[2004 rows x 2 columns]

In [6]:
# Nettoyage : suppression des points
df["Codes Nacres"] = df["Codes Nacres"].str.replace(".", "", regex=False)

# Filtrer pour ne garder que les codes NACRES de 4 caractères
df = df[df["Codes Nacres"].str.len() == 4]

# Sauvegarde dans le même fichier (ou un autre si tu veux garder une copie)
df.to_hdf(hdf5_path, key="nacres_2022", mode="w")

In [7]:
df

     Codes Nacres         Libellé étendu nouvelle nomenclature achat
3            AA01         PAINS, PATISSERIES, VIENNOISERIES CONGELES
4            AA02                           PRODUITS CARNES CONGELES
5            AA03          PRODUITS DE LA MER OU DEAU DOUCE CONGELES
6            AA04                         FRUITS ET LEGUMES CONGELES
7            AA05  PREPARATIONS ALIMENTAIRES ET PLATS CUISINES CO...
...           ...                                                ...
1998         XE23                             ACHAT DE TERRAIN BATIS
1999         XE24      IMMOBILISATIONS CORPORELLES EN COURS-TERRAINS
2000         XE25                  CONSTRUCTION : OPERATION TERMINEE
2001         XE27                       COLLECTIONS DE DOCUMENTATION
2002         XE28  COLLECTIONS LITTERRAIRES, SCIENTIFIQUES ET ART...

[1457 rows x 2 columns]